<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/partials/menu.css">
    <link rel="stylesheet" href="/styles/partials/cards.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <!-- Top Navigation Menu -->
    <div class="topnav">

        <img class="active" src="/images/logo.jpg" alt="">

        <a href="/" class="active">
        </a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="/">HOME</a>
            <a href="/informativos">INFORMATIVOS</a>
            <a href="/results">RESULTADOS</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="/images/agua2.png" alt="">
        </div>
    </div>

    <!-- Cards de acesso as áreas do app
        <h3>
            <center> Informações Brasil</center>
        </h3> -->

    <div class="container" align="center">


        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Consumo de água: qual deve ser minha média mensal? Como manter?
                    <a
                        href="https://www.leak.com.br/2019/06/22/consumo-de-agua-qual-deve-ser-minha-media-mensal-como-manter/#:~:text=O%20consumo%20m%C3%A9dio%20por%20pessoa%20De%20acordo%20com,para%20suprir%20as%20necessidades%20b%C3%A1sicas%20de%20uma%20pessoa.">
                        Saiba mais.</a></p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Você conhece a atual situação do consumo e desperdício de água no Brasil?
                    <a href="https://www.eosconsultores.com.br/consumo-e-desperdicio-de-agua/"> Saiba mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Distribuição da água no Brasil. A maior potência hídrica do planeta pode
                    sofrer falta d'água em algumas áreas.
                    <a
                        href="https://brasilescola.uol.com.br/geografia/distribuicao-agua-no-brasil.htm#:~:text=Gr%C3%A1fico%20da%20distribui%C3%A7%C3%A3o%20de%20%C3%A1gua%20no%20Brasil%20por,apresentam%20apenas%206%25%20e%203%25%20das%20reservas%2C%20respectivamente.">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Principais dados do saneamento por estado.
                    <a
                        href="http://tratabrasil.org.br/saneamento/principais-estatisticas/no-brasil/dados-regionais#:~:text=Principais%20dados%20do%20saneamento%20por%20estado%3A%201.%20Rede,Tratamento%20de%20esgoto%3A%2036%2C24.%20Perdas%20de%20%C3%A1gua%3A%2045%2C98.">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Saneamento básico: maior parte das grandes cidades reinveste menos de 30%
                    do que arrecada.
                    <a
                        href="https://g1.globo.com/economia/noticia/2019/07/23/saneamento-basico-maior-parte-das-grandes-cidades-reinveste-menos-de-30percent-do-que-arrecada.ghtml">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Avanços dos indicadores no Brasil. Principais propostas para avançar ainda
                    mais.
                    <a href="https://blog.brkambiental.com.br/saneamento-basico-no-brasil/">Saiba mais.</a>
                </p>
            </div>
        </div>

        <h3>
            <center>Informações Sorocaba</center>
        </h3>
        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Sorocaba em 5a posição em ranking de saneamento.
                    <a
                        href="https://www2.jornalcruzeiro.com.br/materia/566853/ranking-de-saneamento-basico-mostra-sorocaba-na-5-posicao#:~:text=Na%20quest%C3%A3o%20de%20atendimento%20de,foi%20de%2097%2C82%25.&text=Na%20coleta%20de%20esgoto%2C%20enquanto,de%20seu%20esgoto%20gerado%20coletado.">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Sorocaba/SP se destaca entre as melhores cidades com saneamento no Brasil.
                    <a href="https://www.saneamentobasico.com.br/sorocaba-melhores-cidades-saneamento/">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Consumo de água em Sorocaba está acima da média definida pela ONU.
                    <a
                        href="https://www.jornalcruzeiro.com.br/sorocaba/consumo-de-agua-em-sorocaba-esta-acima-da-media-definida-pela-onu/#:~:text=O%20consumo%20di%C3%A1rio%20de%20%C3%A1gua%20por%20pessoa%20em,110%20litros%20per%20capita%2Fdia%2C%20segundo%20pesquisa%20divulgada%20">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Consumo de água: Veja indicadores de Sorocaba.
                    <a
                        href="http://www.deepask.com/goes?page=sorocaba/SP-Consumo-de-agua:-Veja-indicadores-da-sua-cidade">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

        <div class="card-container-news" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Sorocabanos estão altamente satisfeitos com água que consomem.
                    <a
                        href="http://agencia.sorocaba.sp.gov.br/sorocabanos-estao-altamente-satisfeitos-com-agua-que-consomem/">Saiba
                        mais.</a>
                </p>
            </div>
        </div>

    </div>

    <script src="/scripts/menu.js"></script>

</body>

</html>