<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/partials/menu.css">
    <link rel="stylesheet" href="/styles/page-index.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">

    <title>Document</title>

</head>

<body>

    <!-- Top Navigation Menu -->
    <div class="topnav">

        <img class="active" src="/images/logo.jpg" alt="">

        <a href="/" class="active">
        </a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="/">HOME</a>
            <a href="/informativos">INFORMATIVOS</a>
            <a href="/results">RESULTADOS</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="card-container">
        <div class="card">
            <a href="/agua">
                <img src="/images/agua2.png" alt="">
            </a>
        </div>
        <div class="card">
            <a href="/esgoto">
                <img src="/images/esgoto2.png" alt="">
            </a>
        </div>
        <div class="card">
            <a href="/informativos">
                <img src="/images/informativos2.png" alt="">
            </a>
        </div>
    </div>

    <script src="/scripts/menu.js"></script>

</body>

</html>