<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/favicon.png" />
    <title>WaterApp</title>
  </head>
  <body class="bg-primary">
    
      <div class="header">

        <!--Menu sanduiche-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top mx-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="acesso.html">Acesso<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="user.html">Área do Usuário<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
        </nav>
      </div>

    <div class="section" style="margin-top: 60px">
        <!--Cards de acesso as áreas do app-->
        <h3><center>Dados Brasil</center></h3>
        <div class="container" align = "center">

            <div class="card" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/consumo-agua.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Consumo de água: qual deve ser minha média mensal? Como manter?
                            <a href="https://www.leak.com.br/2019/06/22/consumo-de-agua-qual-deve-ser-minha-media-mensal-como-manter/#:~:text=O%20consumo%20m%C3%A9dio%20por%20pessoa%20De%20acordo%20com,para%20suprir%20as%20necessidades%20b%C3%A1sicas%20de%20uma%20pessoa."> Saiba mais.</a></p>
                      </div>
                </a>
              </div>

              <div class="card my-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/Desperdicio-de-agua.-Aladyr.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Você conhece a atual situação do consumo e desperdício de água no Brasil? 
                            <a href="https://www.eosconsultores.com.br/consumo-e-desperdicio-de-agua/"> Saiba mais.</a></p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/distribuição-de-agua-no-brasil.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Distribuição da água no Brasil. A maior potência hídrica do planeta pode sofrer falta d'água em algumas áreas.
                            <a href="https://brasilescola.uol.com.br/geografia/distribuicao-agua-no-brasil.htm#:~:text=Gr%C3%A1fico%20da%20distribui%C3%A7%C3%A3o%20de%20%C3%A1gua%20no%20Brasil%20por,apresentam%20apenas%206%25%20e%203%25%20das%20reservas%2C%20respectivamente.">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/regioes brasil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Principais dados do saneamento por estado.
                            <a href="http://tratabrasil.org.br/saneamento/principais-estatisticas/no-brasil/dados-regionais#:~:text=Principais%20dados%20do%20saneamento%20por%20estado%3A%201.%20Rede,Tratamento%20de%20esgoto%3A%2036%2C24.%20Perdas%20de%20%C3%A1gua%3A%2045%2C98.">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/sao paulo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Saneamento básico: maior parte das grandes cidades reinveste menos de 30% do que arrecada. 
                            <a href="https://g1.globo.com/economia/noticia/2019/07/23/saneamento-basico-maior-parte-das-grandes-cidades-reinveste-menos-de-30percent-do-que-arrecada.ghtml">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/saneamento propostas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Avanços dos indicadores no Brasil. Principais propostas para avançar ainda mais.
                            <a href="https://blog.brkambiental.com.br/saneamento-basico-no-brasil/">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <h3><center>Informações Sorocaba</center></h3>
              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/sorocaba.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Ranking de saneamento básico mostra Sorocaba na 5ª posição.
                            <a href="https://www2.jornalcruzeiro.com.br/materia/566853/ranking-de-saneamento-basico-mostra-sorocaba-na-5-posicao#:~:text=Na%20quest%C3%A3o%20de%20atendimento%20de,foi%20de%2097%2C82%25.&text=Na%20coleta%20de%20esgoto%2C%20enquanto,de%20seu%20esgoto%20gerado%20coletado.">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/san sorocaba.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Sorocaba/SP se destaca entre as melhores cidades com saneamento no Brasil.
                            <a href="https://www.saneamentobasico.com.br/sorocaba-melhores-cidades-saneamento/">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/agua sorocaba 2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Consumo de água em Sorocaba está acima da média definida pela ONU.
                            <a href="https://www.jornalcruzeiro.com.br/sorocaba/consumo-de-agua-em-sorocaba-esta-acima-da-media-definida-pela-onu/#:~:text=O%20consumo%20di%C3%A1rio%20de%20%C3%A1gua%20por%20pessoa%20em,110%20litros%20per%20capita%2Fdia%2C%20segundo%20pesquisa%20divulgada%20">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/agua sorocaba.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Consumo de água: SOROCABA, SP.
                            <a href="http://www.deepask.com/goes?page=sorocaba/SP-Consumo-de-agua:-Veja-indicadores-da-sua-cidade">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

              <div class="card mb-4" style="width: 18rem;">
                <a class="text-secondary" href="#" style="text-decoration: none;"> 
                    <img src="img/quali agua.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Sorocabanos estão altamente satisfeitos com água que consomem.
                            <a href="http://agencia.sorocaba.sp.gov.br/sorocabanos-estao-altamente-satisfeitos-com-agua-que-consomem/">Saiba mais.</a>
                        </p>
                      </div>
                </a>
              </div>

        </div>
    </div>

    <footer class="container" align="center">
      <div class="container ">
        <img class="rounded-top img-fluid" src="img/logo.jpg" alt="" >
      </div>
    </footer>

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

      <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
      -->
  </body>
</html>