body {
    font: 300 1.2rem "Roboto Condensed";
}

.card-container {
    margin: 0 auto;
    width: 90%;
}

.card {
    margin: 20px auto;
    width: 80%;
    height: 100px;
}

.card img {
    width: 260px;
}

.button-pesquisa{
    display: flex;
    justify-content: center;
}

.button-pesquisa a{
    text-decoration: none;
    color: white;
}

.button-pesquisa .button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 295px;
    border: none;
    background-color: #00c0f3;
    font: 300 1.2rem "Roboto Condensed";
}