#page-body {
    width: 100vw;
    margin: 0;
    font: 300 1.2rem "Roboto Condensed";
}

#page-body .page-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-content fieldset {
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0rem;
}

.page-content .form-select-block {
    width: 100%;
    font: 300 1.2rem "Roboto Condensed";
    text-align: center; /* para firefox */
    text-align-last: center; /* para chrome */
}

.form-select-block option {
    font: 300 1.2rem "Roboto Condensed";
}

fieldset .input-content {
    display: flex;
}

fieldset .input-content .um{
    margin-right: 2rem;
}

fieldset .range-content {
    width: 100%;
}

.range-content .form-range-input {
    width: 100%;
}

.page-content legend {
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0rem;

}

.button-container {
    display: flex;
    justify-content: center;
}

form button {
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: .3rem;
    background: #00c0f3;
    font: 300 1.2rem "Roboto Condensed";
    color: white;
}